:root{
    --cor-de-fundo: #290c0c;
    --verde: #133D1E;
    --branco: #FFFFFF; 

}
body{
    background-color: #133D1E;
    color: var(--branco);
        font-family: "Pacifico";
        font-weight: 400;
        font-style: normal;
        
      
}
.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
.titulo-principal span{
    color: var(--verde);

}

.botao{
    font-family: "Pacifico";
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 4px solid var(--botao-ativo);
    border-right: 4px solid var(--botao-ativo);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display:block
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}
@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao.last-child{
        border-radius: 0 40px 0 0;
    }

}


